<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RootDirectory" value="C:\Users\Luke\Desktop\InputData" />
    <add key="ArchiveDirectory" value="C:\Users\Luke\Desktop\Archive" />
    <add key="ArchivePeriod" value="90" />
    <add key="ProductData" value="C:\Users\Luke\Desktop\ProductData" />
  </appSettings>
  <connectionStrings>
    <add name="MetricAnalyzerEntities" connectionString="metadata=res://*/Models.MetricAnalyzer.csdl|res://*/Models.MetricAnalyzer.ssdl|res://*/Models.MetricAnalyzer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=MetricAnalyzer;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>