<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RootDirectory" value="C:\Users\Luke\Desktop\InputData" />
    <add key="ArchiveDirectory" value="C:\Users\Luke\Desktop\ArchiveData" />
    <add key="TestDirectory" value="c:\Users\Luke\Desktop\Tests"/>
    <add key="ArchivePeriod" value="90" />
    <add key="IterationStartDate" value="26/11/2010"/>
    <add key="IterationLength" value="2"/>
  </appSettings>
  <connectionStrings>
    <add name="CPSC594Entities" connectionString="metadata=res://*/Models.CPSC594.csdl|res://*/Models.CPSC594.ssdl|res://*/Models.CPSC594.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=CPSC594;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
    <add name="BugzillaDatabase" connectionString="Data Source=localhost;Database=Bugzilla;User ID=root;Password="/>
  </connectionStrings>
</configuration>