<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="RootDirectory" value="C:\Users\Luke\Desktop\InputData" />
    <add key="ArchiveDirectory" value="C:\Users\Luke\Desktop\ArchiveData" />
    <add key="ArchivePeriod" value="90" />
    <add key="ProductData" value="C:\Users\Luke\Desktop\ProductData"/>
    <add key="FirstIteration" value="03/01/2011"/> <!--dd/mm/yyyy-->
  </appSettings>
  <connectionStrings>
    <add name="BugzillaDatabase" connectionString="Data Source=localhost;Database=Bugzilla;User ID=root;Password="/>
    <add name="CPSC594Entities" connectionString="metadata=res://*/Models.CPSC594.csdl|res://*/Models.CPSC594.ssdl|res://*/Models.CPSC594.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=CPSC594;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>