<?xml version="1.0"?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key="RootDirectory" value="C:\Users\Luke\Desktop\InputData"/>
    <add key="ArchiveDirectory" value="C:\Users\Luke\Desktop\Archive"/>
    <add key="ArchivePeriod" value="90"/>
    <add key="ProductData" value="C:\Users\Luke\Desktop\ProductData"/>
  </appSettings>
  <connectionStrings>
    <add name="MetricAnalyzerEntities" connectionString="metadata=res://*/Models.MetricAnalyzer.csdl|res://*/Models.MetricAnalyzer.ssdl|res://*/Models.MetricAnalyzer.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=MetricAnalyzer;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="MetricAnalyzer.Common.Properties.Settings.CPSC594ConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=CPSC594;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="MetricAnalyzer.Common.Properties.Settings.MetricAnalyzerConnectionString"
      connectionString="Data Source=localhost;Initial Catalog=MetricAnalyzer;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
