<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
  <add name="CPSC594Entities" connectionString="metadata=res://*/Models.CPSC594.csdl|res://*/Models.CPSC594.ssdl|res://*/Models.CPSC594.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=CPSC594;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>