<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="cpsc594Entities" connectionString="metadata=res://*/Models.cpsc594_cdl.csdl|res://*/Models.cpsc594_cdl.ssdl|res://*/Models.cpsc594_cdl.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=LUKE-PC;Initial Catalog=CPSC594;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>