<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="RootDirectory" value="C:\Users\Russ\Desktop\InputData"/>
    <add key="ArchiveDirectory" value=""/>
    <add key="ArchivePeriod" value="90"/>
    <add key="ProductData" value="C:\Users\Russ\Desktop\ProductData"/>
    <add key="FirstIteration" value="03/01/2011"/> <!--dd/mm/yyyy-->
  </appSettings>
  <connectionStrings>
    <add name="BugzillaDatabase" connectionString="Data Source=localhost;Database=Bugzilla;User ID=root;Password="/>
    <add name="MetricAnalyzerEntities" connectionString="Data Source=.;Initial Catalog=MetricAnalyzer;Integrated Security=True;MultipleActiveResultSets=True"/>  
  </connectionStrings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
